<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category Id</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Units In Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock}}</td>
      </tr>
    </tbody>
  </table>