<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input
    type="text"
    class="form-control"
    id="filterText"
    [(ngModel)]="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız.
</div>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ürün</th>
      <th scope="col">Kategori</th>
      <th scope="col">Fiyat</th>
      <th scope="col">Kdv'li Fiyat</th>
      <th scope="col">Stok</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice }}</td>
      <td>
        {{ product.unitPrice | vatAdded : 20 | currency : "TRY" }}
      </td>
      <td>{{ product.unitsInStock }}</td>
      <td><button (click)="addToCart(product)" class="btn btn-success">Sepete Ekle</button></td>
    </tr>
  </tbody>
</table>
